.taskCard {
  width:44rem;
  height: 4.5rem;
  min-height: 4.5rem;
  background-color: var(--gray500);
  color: var(--gray-100);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem;
  padding: 0.75rem;
  gap: 0.75rem;
}

.rounded {
  position: relative;
}

.rounded label {
  background-color: var(--gray300);
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  width: 1.063rem;
  height: 1.063rem;
  top: 0;
  left: 0;
  position: absolute;
}

.rounded label:after {
  border: 1.5px solid var(--gray100);
  border-top: none;
  border-right: none;
  content: "";
  width: 0.438rem;
  height: 0.25rem;
  top: 0.188rem;
  left: 0.125rem;
  opacity: 0;
  position: absolute;
  
  transform: rotate(-45deg);
}

.rounded input[type="checkbox"] {
  visibility: hidden;
}

.rounded input[type="checkbox"]:checked + label {
  background-color: var(--purpleDark);
  border-color: var(--purpleDark);
}

.rounded input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.completed {
  text-decoration:line-through;
  opacity:0.7;
}

.taskCard button[type="button"]{
  background: transparent;
  color: var(--gray300);
  border: 0;
  cursor: pointer;

  transition: color 0.1s;
}


.taskCard button:hover{
  color: var(--gray100);
}